<div class="container mt-3">
  <div class="d-flex align-items-center">
    <%= link_to vans_path(@van) do %>
      <i class="fa-solid fa-arrow-left text-dark"></i>
    <% end %>
    <%= link_to 'Retour à la liste des Vans', vans_path, class: "ms-2 text-dark fw-bold link-underline-light" %>
  </div>
  <h1 class="text-center">Ajouter un Nouveau Van</h1>
  <%= render "form", class:"m-3" %>
</div>
