.reservation-container {
  max-width: 1400px; // Augmentez la largeur maximale du conteneur
  margin: 0 auto; // Centre le conteneur
  padding: 20px; // Espace autour
}

.reservation-list {
  display: flex;
  flex-direction: column; // Aligne les cartes les unes sous les autres
  align-items: center; // Centre horizontalement les cartes
}

.user-reservation-card {
  display: flex; // Utilise Flexbox pour aligner la photo et les détails
  background-color: #f9f9f9; // Couleur de fond pour chaque carte
  border: 1px solid #ddd; // Bordure légère
  border-radius: 8px; // Coins arrondis
  padding: 15px; // Espace à l'intérieur de la carte
  margin-bottom: 15px; // Espace entre les cartes
  width: 100%; // Prend 90% de la largeur du conteneur, ajustez si nécessaire
  max-width: 1000px; // Largeur maximale pour chaque carte
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Ombre légère pour profondeur
}

.user-reservation-card img {
  max-width: 300px; // Taille maximum de l'image
  margin-right: 15px; // Espace entre l'image et le texte
}

.reservation-details {
  flex: 1; // Permet à la section des détails de prendre tout l'espace disponible
  display: flex; // Aligne les éléments à l'intérieur
  flex-direction: column; // Aligne les éléments verticalement
  justify-content: flex-start; // Espace entre les éléments
  align-items: flex-start; // Centre verticalement
}

.booking-date {
  background-color: rgb(42, 42, 104); // Couleur de fond bleu
  color: white; // Couleur du texte blanche
  padding: 10px; // Espacement autour du texte
  border-radius: 8px; // Coins arrondis
  font-weight: bold; // Écriture en gras (optionnel)
}

.custom-title {
  font-family: "Rozha One", "Helvetica", "sans-serif"; // Police personnalisée
  font-size: 3rem; // Taille du texte, ajustez selon vos besoins
  text-align: center; // Centre le texte
  color: #000000; // Couleur du texte, ajustez si nécessaire
  margin-bottom: 20px; // Espace sous le titre
}
