.navbar-lewagon {
    height: 80px; /* Ajustez la hauteur selon vos besoins */
  padding: 10px 20px; /* Ajustez le padding selon vos besoins */
  display: flex;
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 50px;
// }

.navbar-lewagon img {
  width:60px;
}

#navbarDropdown{
  color : #000000CC;
  opacity: 0.7;
  width: 20px;
}
