<div class="footer">
  <div class="footer-links">
    <span>Retrouvez-nous sur</span>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 20px;
      text-align: center;
    }
  </style>
</div>
